ENV__ENV=
LOG__LEVEL=
WEAVIATE__HTTP_HOST=
WEAVIATE__HTTP_PORT=
WEAVIATE__HTTP_SECURE=
WEAVIATE__GRPC_HOST=
WEAVIATE__GRPC_PORT=
WEAVIATE__GRPC_SECURE=
WEAVIATE__CONCURRENT_REQUESTS=
OPENAI__API_KEY=
OPENAI__ORGANIZATION_ID=
OPENAI__RATE_LIMIT=
OPENAI__WINDOW_SECONDS=
LANGSMITH__TRACING=
LANGSMITH__ENDPOINT=
LANGSMITH__API_KEY=
LANGSMITH__PROJECT=
AWS__REGION=
AWS__ACCESS_KEY_ID=
AWS__SECRET_ACCESS_KEY=
AWS__ENDPOINT_URL=
QUEUE__TRANSCRIPTION_RESULTS_QUEUE_URL=
QUEUE__TRANSCRIBE_AND_SUMMARIZE_REQUESTS_QUEUE_URL=
DEEPGRAM__API_KEY=
SARVAM__API_KEY=
TRANSCRIPTION__PROVIDER=
LLM__MAX_CONCURRENT_LLM_CALLS=
API__X_API_KEY=
SLACK_ALERTS__ENABLED=
SLACK_ALERTS__API_TOKEN=
SLACK_ALERTS__CHANNEL_ID=
SLACK_ALERTS__LOG_LEVEL=
SERVER__HOST=
SERVER__PORT=
HIPAA_AUDIT__ENABLED=
HIPAA_AUDIT__LOG_GROUP_NAME=
HIPAA_AUDIT__LOG_STREAM_NAME=
HIPAA_AUDIT__ENABLE_CONSOLE_LOGS=
ALLY_CORE__ENDPOINT=
ALLY_CORE__API_KEY=
ANTHROPIC__API_KEY=
GEMINI__API_KEY=
KNOWLEDGE_AGENT__DEFAULT_PROVIDER=
KNOWLEDGE_AGENT__DEFAULT_MODEL=
KNOWLEDGE_AGENT__ANTHROPIC_MODEL=
KNOWLEDGE_AGENT__FALLBACK_MODEL=
ANALYTICS_AGENT__ANSWER_MODEL=
HELPLINE__RISK_MODEL=
HELPLINE__TURN_MODEL=
HELPLINE__RISK_MAX_TOKENS=
HELPLINE__TURN_MAX_TOKENS=
