LOG_LEVEL=INFO
SLACK_ALERTS_ENABLED=true
SLACK_ALERTS_API_TOKEN=<slack-token>
SLACK_ALERTS_CHANNEL_ID=<slack-channel-id>
SLACK_ALERTS_LOG_LEVEL=WARNING

SERVER_HOST=localhost
SERVER_PORT=8000

WEAVIATE_HTTP_HOST=localhost
WEAVIATE_HTTP_PORT=8080
WEAVIATE_HTTP_SECURE=false
WEAVIATE_GRPC_HOST=localhost
WEAVIATE_GRPC_PORT=50051
WEAVIATE_GRPC_SECURE=false
WEAVIATE_CONCURRENT_REQUESTS=1000

OPENAI_API_KEY=<openai-key>
OPENAI_ORGANIZATION_ID=<openai-org-id>

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<langsmith-key>
LANGSMITH_PROJECT=<langsmith-project-name>

CORE_SERVICE_ENDPOINT=""
CORE_API_KEY=""
