ENV__ENV=<environment>

LOG__LEVEL=INFO
SLACK_ALERTS__ENABLED=true
SLACK_ALERTS__API_TOKEN=<slack-token>
SLACK_ALERTS__CHANNEL_ID=<slack-channel-id>
SLACK_ALERTS__LOG_LEVEL=WARNING

SERVER__HOST=localhost
SERVER__PORT=8000

WEAVIATE__HTTP_HOST=localhost
WEAVIATE__HTTP_PORT=8080
WEAVIATE__HTTP_SECURE=false
WEAVIATE__GRPC_HOST=localhost
WEAVIATE__GRPC_PORT=50051
WEAVIATE__GRPC_SECURE=false
WEAVIATE__CONCURRENT_REQUESTS=1000

OPENAI__API_KEY=<openai-key>
OPENAI__ORGANIZATION_ID=<openai-org-id>
OPENAI__RATE_LIMIT=100
OPENAI__WINDOW_SECONDS=30

LANGSMITH__TRACING=true
LANGSMITH__ENDPOINT=https://api.smith.langchain.com
LANGSMITH__API_KEY=<langsmith-key>
LANGSMITH__PROJECT=<langsmith-project-name>

AWS__ACCESS_KEY_ID=""
AWS__SECRET_ACCESS_KEY=""
AWS__REGION="ap-south-1"
AWS__ENDPOINT_URL="http://localhost:4566"

QUEUE__TRANSCRIBE_AND_SUMMARIZE_RESULTS_BUCKET=lifeline-ai-results

# SQS Queue URLs
QUEUE__TRANSCRIPTION_RESULTS_QUEUE_URL=""
QUEUE__TRANSCRIBE_AND_SUMMARIZE_RESULTS_QUEUE_URL=""
QUEUE__TRANSCRIBE_AND_SUMMARIZE_RESPONSE_QUEUE_URL=""

REFERENCE_DOCS__DISTANCE_THRESHOLD=0.35

# CloudWatch Audit Logging Settings
HIPAA_AUDIT__ENABLED=false
HIPAA_AUDIT__LOG_GROUP_NAME=<log_group_name>
HIPAA_AUDIT__LOG_STREAM_NAME=<log_stream_name>
HIPAA_AUDIT__ENABLE_CONSOLE_LOGS=false

API__X_API_KEY=<x-api-key>

LLM__MAX_CONCURRENT_LLM_CALLS=10

ALLY_CORE__ENDPOINT=http://localhost:8001
ALLY_CORE__API_KEY=<ally-core-api-key>
