ENV=<environment>

LOG_LEVEL=INFO
SLACK_ALERTS_ENABLED=true
SLACK_ALERTS_API_TOKEN=<slack-token>
SLACK_ALERTS_CHANNEL_ID=<slack-channel-id>
SLACK_ALERTS_LOG_LEVEL=WARNING

SERVER_HOST=localhost
SERVER_PORT=8000

WEAVIATE_HTTP_HOST=localhost
WEAVIATE_HTTP_PORT=8080
WEAVIATE_HTTP_SECURE=false
WEAVIATE_GRPC_HOST=localhost
WEAVIATE_GRPC_PORT=50051
WEAVIATE_GRPC_SECURE=false
WEAVIATE_CONCURRENT_REQUESTS=1000

OPENAI_API_KEY=<openai-key>
OPENAI_ORGANIZATION_ID=<openai-org-id>

DEEPGRAM_API_KEY=<deepgram-key>

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<langsmith-key>
LANGSMITH_PROJECT=<langsmith-project-name>

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="ap-south-1"
AWS_ENDPOINT_URL="http://localhost:4566"

# S3 Configuration
S3_TRANSCRIBE_AND_SUMMARIZE_RESULTS_BUCKET=lifeline-ai-results

# SQS Queue URLs
TRANSCRIPTION_RESULTS_QUEUE_URL=""
TRANSCRIBE_AND_SUMMARIZE_RESULTS_QUEUE_URL=https://sqs.ap-southeast-1.amazonaws.com/123456789012/transcribe-and-summarize-result-queue

REFERENCE_DOCUMENTS_DISTANCE_THRESHOLD=0.35